<div class="well">
  <div class="row">
    <label class="col-md-2 text-right">N° Article : </label>
    <div class="col-md-6">{{article.idArticle}}</div>
  </div>
  <div class="row">
    <label class="col-md-2 text-right">Titre : </label>
    <div class="col-md-9">{{article.titre}}</div>
  </div>
  <div class="row">
    <label class="col-md-2 text-right">Résumé : </label>
    <div class="col-md-9">{{article.resume}}</div>
  </div>
  <div class="row">
    <label class="col-md-2 text-right">Prix : </label>
    <div class="col-md-9">{{article.prix}}€</div>
  </div>
  <div class="row">
    <label class="col-md-2 text-right">Date publication : </label>
    <div class="col-md-9">{{article.dateArticle | date: 'mediumDate'}}</div>
  </div>
  <div class="row">
    <label class="col-md-2 text-right">Domaine : </label>
    <div class="col-md-9">{{article.domaine.libdomaine}}</div>
  </div>
</div>
<app-error [error]="error"></app-error>
