<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Prix</th>
      <th>Résumé</th>
      <th>Panier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let article of articles'>
      <td>{{ article.idArticle }}</td>
      <td>{{ article.titre }}</td>
      <td>{{ article.prix | currency: 'EUR'}}</td>
      <td><a class="btn btn-primary" [routerLink]="['/article', article.idArticle]">Résumé</a></td>
      <td><button class="btn btn-primary">Panier</button></td>
    </tr>
  </tbody>
</table>
