<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Accueil</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-target">
      <ul class="nav navbar-nav">
        <li *ngIf="sharedService.getTypeCompte() == 1"><a [routerLink]="['/search']">Rechercher</a></li>
        <li *ngIf="sharedService.isConnected && sharedService.getTypeCompte() == 1"><a [routerLink]="['/myArticles']">Mes articles</a></li>
        <li *ngIf="sharedService.isConnected && sharedService.getTypeCompte() == 1"><a [routerLink]="['/account']">Compte</a></li>
        <li *ngIf="sharedService.isConnected && sharedService.getTypeCompte() == 2"><a [routerLink]="['/myBooks']">Mes oeuvres</a></li>
        <li *ngIf="sharedService.isConnected && sharedService.getTypeCompte() == 2"><a [routerLink]="['/ventes']">Mes articles vendus</a></li>
        <li *ngIf="sharedService.isConnected && sharedService.getTypeCompte() == 2"><a [routerLink]="['/ajout']">Ajouter une oeuvre</a></li>
        <li *ngIf="sharedService.getPanier()?.length > 0 && sharedService.getTypeCompte() != 2"><a [routerLink]="['/panier']">Panier</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!sharedService.isConnected"><a [routerLink]="['/login']" class="btn btn-link">Se connecter</a></li>
        <li *ngIf="sharedService.isConnected"><a [routerLink]="['/home']" (click)="logout()">Se déconnecter</a></li>
      </ul>
    </div>
  </div>
</nav>
