<h2 class="col-md-offset-2">{{ title }}</h2>
<div class="well col-sm-8 col-md-8">
  <form class="form-signin form-horizontal" name="form" role="form" name="accountForm" (ngSubmit)="addOeuvre()"
        #f="ngForm">

    <div class="form-group">
      <label class="col-sm-3 col-md-3 control-label">Titre : </label>
      <div class="col-sm-3  col-md-3">
        <input type="text" class="form-control" name="titre" [(ngModel)]="oeuvre.titre" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 col-md-3 control-label">Résumé : </label>
      <div class="col-sm-3  col-md-3">
        <input type="text" class="form-control" name="resume" [(ngModel)]="oeuvre.resume" required/>
      </div>
    </div>

    <label class="col-sm-3 col-md-2 control-label">Domaine : </label>
    <div class="col-sm-6 col-md-3">
      <select class='form-control' name='domaines' [(ngModel)]="domaine">
        <option value='undefined' selected>Sélectionner un domaine</option>
        <option *ngFor="let domaine of domaines" [value]="domaine.idDomaine">{{ domaine.libdomaine }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-sm-3 col-md-3 control-label">Prix : </label>
      <div class="col-sm-3  col-md-3">
        <input type="number" min=0 class="form-control" name="prix" [(ngModel)]="oeuvre.prix" required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 col-md-3 control-label">Fichier :</label>
      <div class="col-sm-3  col-md-3">
        <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Valider</button>
        <a [routerLink]="['/home']">
          <button class="btn btn-warning" style="margin-left: 5px"><span class="glyphicon glyphicon-remove"></span>
            Annuler
          </button>
        </a>
      </div>
    </div>
    <app-error [error]="error"></app-error>
  </form>
</div>
