<h1 align='center'>{{titre}}</h1>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Titre</td>
    <td>Domaine</td>
    <td>Date achat</td>
    <td>Télécharger</td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let achat of achats">
      <td>{{achat.article.idArticle}}</td>
      <td>{{achat.article.titre}}</td>
      <td>{{achat.article.domaine.libdomaine}}</td>
      <td>{{achat.dateAchat | date: 'mediumDate'}}</td>
      <td><a target="_blank" rel="noopener noreferrer" href="/fichiers/{{achat.article.fichier}}">Télécharger</a></td>
    </tr>
  </tbody>
</table>
